body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Additional styles can be added here */
